<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.armanco.whattowear" version="1.0.1" >
	<name>لباس چی بپوشم؟</name>
	<description>این برنامه به صورت تخصصی برای هر فرد پیشنهاد خاص خود را دارد تا بهترین ها را انتخاب کند.این برنامه دارای چهار بخش اصلی می باشد:پیام رنگ ها: بیانگر پیام مخابره شده توسط هر رنگ به شخص دیگر می باشد.رنگ فصل: با توجه به ویژگی های شما رنگ فصلتان را بهتان معرفی می کند.رنگ مو و چشم: بر اساس رنگ مو و چشمتان رنگ هایی را که مناسب شما هست بهتان معرفی می کند.مشاوره لباس: شامل دو مرحله ی انتخاب رنگ مو و مرحله ی رنگ چشم می باشد. سپس با توجه به رنگ غالبتان توصیه ای کامل برای نوع و رنگ لباس، کفش، مدل مو و جواهرات مناسب شما ارایه می دهد.</description>
	<author>armanco</author>
    <preference name="permissions"    		      value="none" />
    <preference name="phonegap-version"           value="3.7.0" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <icon src="res/icon/icon.png" />
	<icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/android/icon-144-xxhdpi.png"  gap:platform="android"    gap:qualifier="xxhdpi" />
    <icon src="res/icon/android/icon-192-xxxhdpi.png"  gap:platform="android"    gap:qualifier="xxxhdpi" />
</widget>